alerts-component {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
alerts-component div {
  color: white;
  background-color: black;
  display: inherit;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 2px;
  margin-top: 0.7rem;
  cursor: pointer;
}
alerts-component div:hover {
  opacity: 0.8;
}

alerts-component div::before,
alerts-component div::after {
  font-size: 0.7rem;

  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/*
alerts-component div::before {
  content: "i";
  color: #2f2f75;
  border: 1px solid #2f2f75;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  margin-left: 0.35rem;
  transform: scale3d(1.3, 1.3, 1);
}
*/
alerts-component div::after {
  content: "X";
  margin-right: 0.35rem;
  margin-left: auto;
  transform: scale3d(2, 1.5, 1);
}

alerts-component div.error {
  background-color: rgb(88, 0, 0);
}

alerts-component div.success {
  background-color: rgb(0, 88, 0);
}

alerts-component div.info {
  background-color: rgb(0, 0, 88);
}

leads-component table {
  table-layout: fixed;
}
leads-component table tr th:first-child {
  width: 10%;
  text-align: center;
}

leads-component table tr th:nth-child(2),
leads-component table tr th:nth-child(3) {
  width: 20%;
}
leads-component table tr th:nth-child(5) {
  width: 10%;
}

leads-component table tr td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
leads-component table tr td:first-child {
  text-align: center;
}
